MONGO_URI=mongodb://127.0.0.1:27017/genun
HOST_ADDRESS=
HOST_PASSWORD=
POos_jwtPrivateKey=change-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GENUN_CONTRACT_ID=REPLACE_AFTER_DEPLOY
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
